@media screen and (max-width:1000px) {
    .welcome {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .celticCard {
        width: 15% !important;
    }

    .tarotCard {
        height: 35% !important;
    }

    .tarotCard {}

    .navbar-brand,
    .navbar-brand:hover,
    a.navbar-brand,
    .navbar-brand active {
        font-size: 3rem !important;
    }
}