@media screen and (max-width:1000px) {
    .welcome {
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    .celticCard {
        width: 15% !important;
    }

    .tarotCard {
        height: 25% !important;
    }

    .readingHeader {
        font-size: 1.5rem;
    }

    .navbar-brand,
    .navbar-brand:hover,
    a.navbar-brand,
    .navbar-brand active {
        margin: 0 !important;
        font-size: 2rem !important;
        word-break: break-all !important;
    }

    .tarotMeaning img {
        width: 25%;
        height: 75%;
    }
}